[submodule "SparksbmISMS/verinice-veo-forms"]
	path = SparksbmISMS/verinice-veo-forms
	url = https://github.com/Iamnot0/verinice-veo-forms
[submodule "SparksbmISMS/verinice-veo-history"]
	path = SparksbmISMS/verinice-veo-history
	url = https://github.com/Iamnot0/verinice-veo-history
